<nav id="header" class="navbar navbar-default">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="navbar-header col-md-4 col-sm-12 col-xs-12">
            <a class="navbar-brand" href="#">
                <img class="logo" alt="instagram-logo" src="../../../generator/assets/images/instagram-logo.png">
            </a>
        </div>
<div class="header-menu col-md-4 col-sm-12 col-xs-12">
        <p>Your Instagram Profile</p>
</div>
        <div class="logout-button col-md-4 col-sm-12 col-xs-12">
            <a (click)="logout()">Logout</a>
        </div>
    </div>
</nav>
