#login {
  background: linear-gradient(#8a3ab9,#4c68d7, #cd486b, #fbad50,#fccc63, #bc2a8d,#e95950);
  background-size: cover;
  min-height: 100%;
  background-repeat: no-repeat;
}


#login .text-box {
  background-color: blanchedalmond;
  min-height: 60%;
  margin-top: 50px;
  border-radius: 2%;
}


#login .form-group input {
  width:80%;
  align-content: center;
  margin-left:37px;
  margin-top: 5%;
  border-radius: 1.5%;
  border-color: lightblue;
}

#login h3{
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: OpenSans-Regular;
  color: steelblue;
  text-align: center;
}

#login .form-group .btn-default  {
  color: lightslategrey;
  margin-left:18px;
  margin-top: 15%;
}

#login .button-wrapper {
  margin-top: 13%;
  margin-bottom:7%;
}

#login .btn-primary {
  width:110%;
}

#login p.error-msg {
  color: orangered;
  padding-left:10px;
}



