#instagram-home-wrapper {
  background: linear-gradient(lightsteelblue,lightblue,lightgrey);
  background-size: cover;
  min-height: 100%;
  background-repeat: no-repeat;
  padding: 30px;
}


#instagram-home-wrapper .instagram-header-wrapper {
  background-color: #ffd7e1;
  box-shadow: 0 2px 4px 0 #FAFAD2;
  min-height: 10%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 1.5%;
}

#instagram-home-wrapper .instagram-header-content {
  align-content: center;
  font-family: OpenSans-Regular;
  color: steelblue;
  padding-bottom: 7px;
}

#instagram-home-wrapper .instagram-images-wrapper {
  background-color: lightsteelblue;
  border-radius: 1.5%;
}


#instagram-home-wrapper h2 {
  text-align: center;
}

#instagram-home-wrapper .instagram-data-image {
  background-color: beige;
  margin-bottom: 15px;
  margin-top: 10px;
}

#instagram-home-wrapper .instagram-images-container {
  border-radius: 6px;
  background-color: #fbfbfb;
  padding: 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  border: solid 1px #002c5a;
}

#instagram-home-wrapper .display_image {
  margin-top: 7px;
}

.instagram-images-container .img-thumbnail{
  width: 180px;
}

#instagram-home-wrapper .instagram-images-wrapper p {
  display: inline;
  padding-bottom: 5px;
  font-size: 14px;
}

#instagram-home-wrapper .instagram-images-wrapper h5 {
  display: inline;
  padding-bottom: 5px;
  padding-right: 6px;
}
